<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppinGzone</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a href="#" class="logo">
                    <h4>ShoppinGzone</h4>
                </a>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="./shirts.html">T-shirt</a></li>
                    <li><a href="./kurti.html">Kurti</a></li>
                    <li><a href="./salwar.html">Salwar</a></li>
                    <li><a href="./shoes.html">Shoes</a></li>
                    <li><a href="./jeans.html">Jeans</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero">
            <div class="container">
                <h1>Discover Your Style</h1>
                <p>Shop the latest trends and find your perfect fit.</p>
                <button class="btn">Shop Now</button>
            </div>
        </div>
    </header>

    <main>
        <section class="featured-products">
            <div class="container">
                <h2>Featured Products</h2>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://images.bewakoof.com/t1080/women-s-blue-stardust-soul-graphic-printed-oversized-t-shirt-580622-1716887024-1.jpg" alt="">
                        <h3>Product Name</h3>
                        <p class="price">₹ 999.99</p>
                    </div>
                    <div class="product">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20231120/ZsLK/655b6112ddf77915198dc951/-473Wx593H-466810747-pink-MODEL.jpg" alt="Product 2">
                        <h3>Product Name</h3>
                        <p class="price">₹ 1499.99</p>
                    </div>
                    <div class="product">
                        <img src="https://wolfattire.com/cdn/shop/products/women-s-plain-round-neck-t-shirt-royal-blue-women-t-shirt-wolfattire-25135790092.jpg?v=1561036248" alt="Product 3">
                        <h3>Product Name</h3>
                        <p class="price">₹ 879.99</p>
                    </div>
                    <div class="product">
                        <img src="https://zinklondon.in/cdn/shop/products/t-zz-00069_2_1200x.jpg?v=1685917777" alt="Product 4">
                        <h3>Product Name</h3>
                        <p class="price">₹ 1129.99</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured-products">
            <div class="container">
                <h2>Latest Products</h2>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://www.tistabene.com/cdn/shop/products/WJS-0006B_4a679320-8acb-4202-8428-fb0ebafa47d9.jpg?v=1704456531&width=1080" alt="">
                        <h3>Product Name</h3>
                        <p class="price">₹ 999.99</p>
                    </div>
                    <div class="product">
                        <img src="https://www.sassafras.in/cdn/shop/products/SFJEAN0458-1_1800x.jpg?v=1700580975" alt="Product 2">
                        <h3>Product Name</h3>
                        <p class="price">₹ 1499.99</p>
                    </div>
                    <div class="product">
                        <img src="https://rukminim2.flixcart.com/image/850/1000/ktizdzk0/jean/z/k/4/28-kwjnrg65-mid-blue-numero-uno-original-imag6upfgaxmvvuy.jpeg?q=20&crop=false" alt="Product 3">
                        <h3>Product Name</h3>
                        <p class="price">₹ 879.99</p>
                    </div>
                    <div class="product">
                        <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/jean/3/6/k/26-21331040-mast-harbour-original-imagsy5us6qhrb7e.jpeg?q=20&crop=false" alt="Product 4">
                        <h3>Product Name</h3>
                        <p class="price">₹ 1129.99</p>
                    </div>
                </div>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://tripole.in/cdn/shop/products/Blue_NavyBluefront_1024x1024@2x.jpg?v=1618481149" alt="">
                        <h3>T-Shirts</h3>
                        <p class="price">₹ 999.99</p>
                    </div>
                    <div class="product">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnrM-ew6ct3WHC-ynV0zd0DYlY-nnepcBq-A&shttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWlyEEAGG7d4QUu9Dw6g_MjiTlprXLRij-XQ&s" alt="">
                        <h3>T-Shirts</h3>
                        <p class="price">₹ 1499.99</p>
                    </div>
                    <div class="product">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGf8tY3DiJTiAYeVUCbp-oTdaYhnu2camXZQ&s" alt="">
                        <h3>T-Shirts</h3>
                        <p class="price">₹ 879.99</p>
                    </div>
                    <div class="product">

<img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/24110234/2024/1/12/412dc7b5-356d-45d2-a3ef-e0f439ba398b1705057601454-Roadster-Women-Tshirts-3531705057601018-1.jpg" alt="">                        <h3>T-Shirts</h3>
                        <p class="price">₹ 1129.99</p>
                    </div>
                </div>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://www.houseofblouse.com/cdn/shop/products/DR2_7b5582da-85e7-4374-ab37-e97399209854.jpg?v=1679139692&width=2048"
                            alt="">
                        <h3>Kurti</h3>
                        <p class="price">₹ 999.99</p>
                    </div>
                    <div class="product">
                        <img src="https://images.meesho.com/images/products/239893625/nnx91_512.webp" alt="">
                        <h3>Kurti</h3>
                        <p class="price">₹ 1499.99</p>
                    </div>
                    <div class="product">

                        <img src="https://mahezon.in/cdn/shop/files/womenPurpleembroiderykurti_500x641_crop_center.png?v=1703838838"
                            alt="">
                        <h3>Kurti</h3>
                        <p class="price">₹ 879.99</p>
                    </div>
                    <div class="product">

                        <img src="https://mahezon.in/cdn/shop/files/womenembroiderykurti_800x1026_crop_center@2x.png?v=1703838838"
                            alt="">
                        <p class="price">₹ 1129.99</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured-products">
            <div class="container">
                <h2>Featured Products</h2>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/shoe/x/j/p/-original-imaghsf4unx2fhkm.jpeg?q=90&crop=false" alt="">
                        <h3>Shoes</h3>
                        <p class="price">₹ 999.99</p>
                    </div>
                    <div class="product">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20231020/vKQQ/65318916afa4cf41f55234b2/-473Wx593H-466728178-pink-MODEL.jpg" alt=""><h3>Shoes</h3>
                        <p class="price">₹ 1499.99</p>
                    </div>
                    <div class="product">
                       <img src="https://www.campusshoes.com/cdn/shop/products/RAISE_22L-129_ANGLFALS-MUNLT_e8271b68-025c-467d-868b-a2d001cbe4d8.jpg?v=1705475821" alt=""> <h3>Shoes</h3>
                        <p class="price">₹ 879.99</p>
                    </div>
                    <div class="product">
                        <img src="https://www.redtape.com/cdn/shop/files/RLO1725_1_jpg.jpg?v=1716544648" alt=""><h3>Shoes</h3>
                        <p class="price">₹ 1129.99</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <div class="container">
                <div class="about-content">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    <button class="btn">Learn More</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>© 2024 ShoppinGZone. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/your-font-awesome-kit-id.js" crossorigin="anonymous"></script>
</body>
</html>
<img src="https://img.freepik.com/free-psd/colorful-digitalism-banner-with-photo-woman_23-2148686961.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1720915200&semt=ais_user" alt="Hero Image">