<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppinGzone</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <style>
        .hero {
            background-color: url("https://zola.in/cdn/shop/articles/Jeans_Banner_ZOla.jpg?v=1685605677");; 
            background-size: cover;
            background-position: center;
            height: 250px;
            color: white;
            font-weight: 900;
            padding: 100px 0;
            text-align: center;
            animation: BGChanger 5s infinite;
        }
        @keyframes BGChanger {
  0%   {top: 0px; left: 0px; background-image: url("https://zola.in/cdn/shop/articles/Jeans_Banner_ZOla.jpg?v=1685605677");}
  25%  {top: 0px; left: 100px; background-image: url("https://zola.in/cdn/shop/articles/DJ.jpg?v=1688363051");}
  50%  {top: 100px; left: 100px; background-image: url("https://cdn.shopify.com/s/files/1/0604/6289/1237/files/Flare-Banner-web2_aedf48f3-5101-43e0-95fa-a3a719aa7c08_2048x2048.jpg?v=1677005802");}
  75%  {top: 100px; left: 0px; background-image: url("https://i.pinimg.com/736x/4b/22/86/4b22867e1c2cc0e640db9ef6d6de2bc3.jpg");}
  100% {top: 0px; left: 0px; background-image: url("https://zola.in/cdn/shop/articles/Jeans_Banner_ZOla.jpg?v=1685605677");}
}

        .hero h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 1.2em;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <header>
        <a href="#" class="logo" style="display: block; text-align: center;">
            <h4>ShoppinGzone</h4>
        </a>
        <nav>
            <div class="contain">
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="shirts">T-shirt</a></li>
                    <li><a href="kurti">Kurti</a></li>
                    <li><a href="salwar">Salwar</a></li>
                    <li><a href="jeans">Jeans</a></li>
                    <li><a href="shoes">Shoes</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
            <ul class="nav-links">
                <li><a href="#">
                        <svg style="margin-top: 3px; background-color: #e9e0d4;" fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 455 455" xml:space="preserve">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M326.632,10.346c-38.733,0-74.991,17.537-99.132,46.92c-24.141-29.384-60.398-46.92-99.132-46.92 C57.586,10.346,0,67.931,0,138.714c0,55.426,33.05,119.535,98.23,190.546c50.161,54.647,104.728,96.959,120.257,108.626l9.01,6.769 l9.01-6.768c15.529-11.667,70.098-53.978,120.26-108.625C421.949,258.251,455,194.141,455,138.714 C455,67.931,397.414,10.346,326.632,10.346z M334.666,308.974c-41.259,44.948-85.648,81.283-107.169,98.029 c-21.52-16.746-65.907-53.082-107.166-98.03C61.236,244.592,30,185.717,30,138.714c0-54.24,44.128-98.368,98.368-98.368 c35.694,0,68.652,19.454,86.013,50.771l13.119,23.666l13.119-23.666c17.36-31.316,50.318-50.771,86.013-50.771 c54.24,0,98.368,44.127,98.368,98.368C425,185.719,393.763,244.594,334.666,308.974z">
                                </path>
                            </g>
                        </svg>
                    </a></li>
                <li><a href="#">
                        <svg style="background-color: #e9e0d4;" width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g clip-path="url(#clip0_15_35)">
                                    <rect width="24" height="24" fill="#e9e0d4"></rect>
                                    <path
                                        d="M5.33331 6H19.8672C20.4687 6 20.9341 6.52718 20.8595 7.12403L20.1095 13.124C20.0469 13.6245 19.6215 14 19.1172 14H16.5555H9.44442H7.99998"
                                        stroke="#000000" stroke-linejoin="round"></path>
                                    <path
                                        d="M2 4H4.23362C4.68578 4 5.08169 4.30341 5.19924 4.74003L8.30076 16.26C8.41831 16.6966 8.81422 17 9.26638 17H19"
                                        stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <circle cx="10" cy="20" r="1" stroke="#000000" stroke-linejoin="round"></circle>
                                    <circle cx="17.5" cy="20" r="1" stroke="#000000" stroke-linejoin="round"></circle>
                                </g>
                                <defs>
                                    <clipPath id="clip0_15_35">
                                        <rect width="24" height="24" fill="white"></rect>
                                    </clipPath>
                                </defs>
                            </g>
                        </svg>
                    </a></li>
                <li><a href="#">
                        <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g clip-path="url(#clip0_15_159)">
                                    <rect width="24" height="24" fill="#e9e0d4"></rect>
                                    <path
                                        d="M9.5 19C8.89555 19 7.01237 19 5.61714 19C4.87375 19 4.39116 18.2177 4.72361 17.5528L5.57771 15.8446C5.85542 15.2892 6 14.6774 6 14.0564C6 13.2867 6 12.1434 6 11C6 9 7 5 12 5C17 5 18 9 18 11C18 12.1434 18 13.2867 18 14.0564C18 14.6774 18.1446 15.2892 18.4223 15.8446L19.2764 17.5528C19.6088 18.2177 19.1253 19 18.382 19H14.5M9.5 19C9.5 21 10.5 22 12 22C13.5 22 14.5 21 14.5 19M9.5 19C11.0621 19 14.5 19 14.5 19"
                                        stroke="#000000" stroke-linejoin="round"></path>
                                    <path d="M12 5V3" stroke="#000000" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_15_159">
                                        <rect width="24" height="24" fill="white"></rect>
                                    </clipPath>
                                </defs>
                            </g>
                        </svg>
                    </a></li>
            </ul>
        </nav>
        
        <div class="hero">
            <div class="container">
                
                        <h1>Discover Your Style</h1>
                        <p>Shop the latest trends and find your perfect fit.</p>
                        <button class="btn">Shop Now</button>
                    </div>
                </div>
                
            </div>
        </div>
    </header>

    <main>
        <section class="featured-products">
            <div class="container">
                <h2>Jeans Collections</h2>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20230713/SxJA/64afe8e3a9b42d15c95127d3/-473Wx593H-466354645-blue-MODEL.jpg"alt="">
                        <h3>Flared Jeans</h3>
                        <p class="price">₹ 999.00</p>
                        <button  class= "btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://www.madish.in/cdn/shop/products/the-original-bootcut-high-waist-jeans-jeans-madish-mid-blue-24-167472.jpg?v=1720793059&width=800"
                            alt="">
                            <h3>Bootcut Jeans</h3>
                        <p class="price">₹ 1499.00</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://levi.in/cdn/shop/files/213060616_01_Style_Shot_f06c5eef-1510-4bac-9a01-a76fd439b89c.jpg?v=1698322192"
                            alt="">
                            <h3>Skinny Jeans</h3>
                        <p class="price">₹ 850.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://18be6cde.aerocdn.com/image-factory/1020x1220/images/products/NaqlLDXYfzE0Fn52fcrVOOyFo4Sh1xwxz4yXM7Ud.jpg"
                            alt="">
                            <h3>Biker Jeans</h3>
                        <p class="price">₹ 550.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured-products">
            <div class="container">
                <h2>Latest Products</h2>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://img3.junaroad.com/uiproducts/20355047/zoom_0-1695964302.jpg"
                            alt="">
                        <h3>SlimFit Jeans</h3>
                        <p class="price">₹ 999.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://img0.junaroad.com/uiproducts/19294687/zoom_0-1675319098.jpg"
                            alt="">
                        <h3>Demin Jeans</h3>
                        <p class="price">₹ 1499.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu3dg8CqizxefuB9f2PWEL0ZA-4ZCqUMvrbw&s"
                            alt="">
                            <h3>Cigarette Jeans</h3>
                        <p class="price">₹ 879.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">

                        <img src="https://imagescdn.allensolly.com/img/app/product/8/891460-10800734.jpg?auto=format&w=390" alt="">
                        <h3>Allen Solly Jeans</h3>
                        <p class="price">₹ 999.00</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                </div>

                <div class="product-grid">
                    <div class="product">
                        <img src="https://assets.ajio.com/medias/sys_master/root/20230217/f9Gz/63ef5746aeb26924e37682c5/-473Wx593H-441927461-blue-MODEL.jpg" alt="">
                        <h3>Pepe Jeans</h3>
                        <p class="price">₹ 1999.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOa2lNOIXYh6UIUp1vnYepVlverch8UXRnOA&s"
                            alt="">
                            <h3>Distressed Jeans</h3>
                        <p class="price">₹ 1499.00</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://offduty.in/cdn/shop/files/download_0be0117b-69c3-4297-8d9c-aa7f101f1278_1080x.webp?v=1706690524"
                            alt="">
                            <h3>Korean Wide Jeans</h3>
                        <p class="price">₹ 950.00</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://cdn.fynd.com/v2/falling-surf-7c8bb8/fyprod/wrkr/products/pictures/item/free/original/OD-DN-WL-1117-1-24/ENqluJjE2w-2.jpg"
                            alt="">
                            <h3>Baggy Jeans</h3>
                        <p class="price">₹ 1129.00</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="featured-products">
            <div class="container">
                <h2>Featured Products</h2>
                <div class="product-grid">
                    <div class="product">
                        <img src="https://images.bestsellerclothing.in/data/vero-moda/21-nov-2022/102456003_g2.jpg?width=1080&height=1355&mode=fill&fill=blur&format=auto&dpr=1.2"
                            alt="">
                        <h3>Skinny Jeans</h3>
                        <p class="price">₹ 999.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">
                        <img src="https://images.bewakoof.com/t640/women-s-blue-wide-leg-high-rise-jeans-bleach-blue-625174-1709187672-1.jpg"
                            alt="">
                        <h3>High Waist Jeans</h3>
                        <p class="price">₹ 1499.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">

                        <img src="https://images-cdn.ubuy.co.in/64eb80c596b33678b60cf900-cute-long-wide-leg-denim-pants-women.jpg"
                            alt="">
                            <h3>Flared Jeans</h3>
                        <p class="price">₹ 879.99</p>
                        <button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                    <div class="product">

                        <img src="https://www.sassafras.in/cdn/shop/products/SFJEAN0176-1.jpg?v=1666400855" alt="">
                        <h3>Fitted Jeans</h3>
                        <p class="price">₹ 1129.99</p><button class="btn btn-black">Add to Cart</button>
                        <button class="btn">Buy</button>
                    </div>
                </div>
            </div>
        </section>

        
    </main>

    <footer>
        <div class="container">
           
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/your-font-awesome-kit-id.js" crossorigin="anonymous"></script>
</body>

</html>